body{
    text-align: center;
}

div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 600px;

    /* create flex box  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
     align-items: center;
     /* align-content: flex-start;  */
    
}

#box1{
    background-color: aqua;
    flex-grow: 2 ;
}
#box2{
height: 200px;
    background-color: rgb(255, 81, 223);
    flex-grow: 1 ;
    
}
#box3{
    height: 75px;
    background-color: rgb(115, 255, 45);
}
#box4{
    background-color: rgb(255, 181, 32);
}
#box5{
    background-color: rgb(255, 32, 32);
   
}